html,body{
margin:0;
background:#111;
color:white;
font-family:sans-serif;
text-align:center;
touch-action:manipulation;
}
header{
background:#222;
padding:15px;
font-size:28px;
display:flex;
align-items:center;
}
#menuButton{
font-size:30px;
background:none;
border:none;
color:white;
margin-right:15px;
touch-action:manipulation;
}
#menu{
position:fixed;
top:0;
left:-250px;
width:250px;
height:100%;
background:#222;
transition:.3s;
padding-top:70px;
z-index:10; 
}
 #overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.4);
display:none;
z-index:5;
}
#menu button{
width:100%;
padding:20px;
font-size:22px;
border:none;
background:none;
color:white;
text-align:left;
touch-action:manipulation;
}
.page{display:none;padding:20px}
.active{display:block}

#bitsInput{
width:34ch;
height:90px;
padding:4px;
font-family:monospace;
font-size:16px;
line-height:1.2;
white-space:pre;
overflow:auto;
resize:none;
border:none;
border-radius:10px;
box-sizing:border-box;
}

button{
touch-action:manipulation;
}

.bitButtons button{
width:120px;
height:120px;
font-size:50px;
margin:10px;
border:none;
border-radius:20px;
}

.actionButton{
margin-top:20px;
padding:15px 30px;
font-size:24px;
border:none;
border-radius:10px;
}

input{
width:90%;
max-width:700px;
padding:15px;
font-size:20px;
border:none;
border-radius:10px;
}

#counter,#result,#tsvResult{
margin-top:20px;
font-size:24px;
}